@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

body {
    font-size: 16px;
    padding: 4rem 1rem;
}

.tittle h1 {
    text-align: center;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 700;
}

.tittle p {
    text-align: center;
    color: #FFFFFF;
    font-size: 19px;
    font-weight: 500;
    line-height: 1.5rem;
    margin-bottom: 3rem;
}

.top-button {
    margin: 1rem 0;
    padding: 2rem 3rem;
    line-height: 1.5rem;
    width: 100%;
    height: auto;
    color: #fff;
    font-size: 19px;
    font-weight: 500;
    background-color: hsl(248, 32%, 49%);
    border: none;
    border-radius: 10px;
    box-shadow: 0 0.5rem 0 rgba(0, 0, 0, 0.2);
}

.form {
    background-color: #fff;
    border-radius: 10px;
    padding: 1.5rem 1.5rem;
    height: auto;
    display: flex;
    flex-direction: column;
}

.input-padrao {
    font-weight:700;
    margin-bottom: 1rem;
    padding: 1.5rem 1rem;
    border-radius: 10px;
    border: 1px solid var(--grayish-blue);
    font-size: 18px;
    font-size: 15px;
}

.claimFreeTrial {
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 600;
    padding: 1.5rem 17.5rem;
    background: hsl(154, 59%, 51%);
    border: none;
    border-radius: 10px;
    margin-bottom: 1rem;

}

.terms{
    text-align: center;
    font-size: 14px;
    margin: 0;
    color: hsl(246, 25%, 77%);
    font-weight: 600;
    line-height: 1.5rem;
}

.terms a {
    color: hsl(0, 100%, 74%) ;
}

footer {
    text-align: center;
    padding: 10px;
}







@media screen and (min-width: 1440px) {
    .title {
        width: 50%;
    }

    body {
        display: flex;
        align-items: center;
        gap: 5rem;
        padding: 6rem 8rem;
    }

    .title h1 {
        text-align: left;
        font-size: 45px;
        font-weight: 700;
    }

    .title p{
        text-align: left;
        font-size: 20px;
    }

    .main-form{
        width: 50%;
    }
}

